<h1>{{title}}</h1>
<p>Welcome to {{title}}, {{name}} </p>
<p>Your name is {{name}} </p>
<form>
  <label for="csv">Choose a file:</label><br>

<input type="file"
       id="csv-upload" name="csv"
       accept=".csv">
  <button type="button" id="btn"> submit</button>

</form>

<div id="json-display">

</div>