<h1>{{title}}</h1>
<p>Welcome to {{title}}, by {{name}} </p>
<p>
    Choose a csv file, then click submit. The JSON will be returned in the text box below.
</p>
<form>
  <label for="csv">Select a CSV file:</label><br>

<input type="file"
       id="csv-upload" name="csv"
       accept=".csv">
  <button type="button" id="btn"> Upload CSV file</button>

</form>

<textarea id="json-display">

</textarea>
<button type="button" id="copy-btn">copy</button>
<footer>
    I am using the  
    <a href="https://www.npmjs.com/package/csvtojson" target="blank">csvtojson library</a>
</footer>